footer {
  min-height: 100px;
}

.footer-toolbar-container {
  background-color: #f7f7f7;
  border-top: 1px solid #d4d2d2;
  padding: 7px 5px;
}

.welcome-container {
  min-height: 60vh;
}

.welcome-container input[name="id"] {
  width: 350px;
}

body {
    font-size: 0.9rem;
    background-color: #f1f1f1;
}
.table {
  background-color: white;
}

/*.container .table{*/
  /*background-color: white;*/
/*}*/

h3 span {
  color: orange;
  font-weight: bold;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, cursive;
}

.container {
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.container {
    background: transparent;
}

.border-ida {
    border-color: #5d6dc3;
}

.container-ida {
    background: #fff;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.3);
}

.header-ida {
    color: rgba(0, 0, 0, 0.47);
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}

.navbar-custom {
    background: linear-gradient(to top, #5d6dc3, #3c86d8);
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.3);
}

.navbar-custom .nav-link, .navbar-custom .navbar-brand {
    /*padding: 0;*/
    /*line-height: 70px;*/
    color: rgba(255, 255, 255, 0.6);
}

.container-fluid-navbar {
    margin-bottom: 90px;
}




